.imagenPrincipal {
    background-image: url("../img/hero.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;
}