@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.hero {
    background-image: url("../img/hero.jpg");
    height: 90vh;
}


.tarjetas {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.tarjeta {
    background-color: #6ae9c3;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.tarjeta_imagen{
    max-width: 100%;
}