@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.hero {
    background-image: url("../img/hero.jpg");
    height: 90vh;
}


.tarjetas {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.tarjeta {
    background-color: #6ae9c3;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.tarjeta_imagen{
    max-width: 100%;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
        "inicio   inicio    contacto     blog"
        "inicio   inicio    productos    nosotros";
}

.inicio {
    grid-area: inicio;
    background-color: aquamarine;
}

.contacto {
    grid-area: contacto;
    background-color: blueviolet;
}

.blog {
    grid-area: blog;
    background-color: brown;
}

.productos {
    grid-area: productos;
    background-color: cornflowerblue;
}
.nosotros {
    grid-area: nosotros;
    background-color: crimson;
}

.contenedor > div {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "inicio       inicio"
            "contacto     nosotros"
            "productos    contacto";
    }
    
}

@media screen and (max-width: 480px) {

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .contenedor > * {
        flex: 1;
    }

    .inicio {
        flex: 1.5;
    }
    
}
